.blog-markdown-content {
  --type-scale: 1.125;
}

.blog-markdown-content h2 {
  @apply mb-4 mt-10 sm:mb-7 sm:mt-16;
}

.blog-markdown-content h3 {
  @apply mb-3 mt-8 sm:mb-6 sm:mt-12;
}

.blog-markdown-content h4 {
  @apply mb-2 mt-6 sm:mb-5 sm:mt-10;
}

.blog-markdown-content h5 {
  @apply mb-1 mt-4 sm:mb-4 sm:mt-8;
}
.blog-markdown-content h6 {
  @apply mb-0.5 mt-2 sm:mb-3 sm:mt-6;
}

@media (max-width: 1536px) {
  .blog-markdown-content {
    --base-font-size: 18px;
  }
}

@media (max-width: 480px) {
  .blog-markdown-content {
    --base-font-size: 14px;
  }
}
